
@media (min-width:580px) and (max-width: 950px) {
  .img {
    z-index: -1;
    position: absolute;
    opacity: 0.1;
    height: 100vh;
  }
  .grid{
    position: absolute;
    margin-top: 5em;
  }
  
}
@media screen and (max-width: 580px) {
  .img {
    display: none;
  }
}
