@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

$default-font: "Poppins", sans-serif;
$text-size-primary: 14px;
$text-size-secondary: 18px;
$white: whitesmoke;
$dark: rgb(12, 11, 11);

.div {
  background: #870000; /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b60404, #190a05);
  height: 100vh;
  font-family: $default-font;
  color: $white;
  font-size: $text-size-secondary;
  display: grid;
  grid-template-columns: 70%;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: $white;
  height: 80%;
  border-radius: 1rem;
  color: $dark;
  text-align: center;
  box-shadow:  0 4px 10px rgb(172, 157, 157);
  overflow: hidden;
}
.h2{
    text-transform: uppercase;
}
.grid{
  height: 100%;
}
.paper{
  width: 70%;
  height:85%;
  margin: 5% 15%;
}
.input{
  width: 65%;
}
 h3{
  text-transform: uppercase;
  padding: 1em 0;
}